/data/
/coo2yolo/JSONTOYOLO/
/coo2yolo/PictureDangerousWorker/
/coo2yolo/project-2-at-2022-11-02-11-11-7bc4e6df/
/coo2yolo/project-3-at-2022-11-08-07-35-3a02e1e0/
/runs/
/weights/
/__pycache__/
/output/
/.idea/
/utils/__pycache__/
